<!-- <router-outlet name="without">kello</router-outlet> todo -->
<app-navbar></app-navbar>
<div>
    <div class="container-custom">
        <router-outlet></router-outlet>
        <notifier-container></notifier-container>
    </div>
</div>
<div *ngIf="(!this.validate.checkCurrentUser()) && (this.router.url!= '/login')">
    <div id="overlay" (click)="this.router.navigate(['/login'])">
        <div class="alert text-center" id="overlay-msg">
            You have been logged out... but Dont worry! Your Current Data has been saved.
            <br>
            Click anywhere to login again
        </div>
    </div>
</div>

<app-footer></app-footer>