<h3 class="h3 w-50 pt-2 pr-2 mt-3">Upload Order</h3>
<div class="row my-4 mx-0">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="row my-1 align-items-baseline">
            <div class="col-8 col-md-5">
                <input class="custom-file-input" type="file" accept="text/csv" (change)="uploadFiles($event.target)"
                    required>
                <label class="custom-file-label" for="order-file" *ngIf="!file">Choose file</label>
                <label class="custom-file-label" for="order-file" *ngIf="file">{{file["name"]}}</label>
            </div>
            <div class="col-4 col-md-3 align-self-end">
                <button class="btn btn-outline-primary py-1 h6 m-0" (click)="uploadData()"
                    [disabled]="!file">Upload</button>
            </div>
            <div class="col-12 col-md-4 my-1 my-md-0 p-0 align-self-end">
                <a class="" href="assets/resources/csv/sample.csv">Download Sample</a>
            </div>
        </div>
    </div>
</div>
<span *ngIf="errorFlag">There are some Errors. Check Downloaded File for errors </span>

<div class="row m-0" *ngIf="(!errorFlag) && (dataPresent)">
    <div class="col-lg-8 pr-lg-2 p-0">
        <table class="table align-items-center">
            <thead>
                <tr class="custom-stick-top bg-light">
                    <th scope="col" style="width:16.66%">&nbsp;</th>
                    <th class="px-3 h4" scope="col" style="width:41.66%">
                        Name
                    </th>
                    <th class="px-3 h4" scope="col" style="width:20.83%">
                        Price
                    </th>
                    <th class="px-3 h4" scope="col" style="width:20.83%">
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let item of displayData">
                    <td class="px-3">
                        <img class="order-image" alt="Card image" [src]="item['img']" style="width:100%">
                    </td>
                    <td class="align-middle px-3 h5">
                        {{item['name']}}
                    </td>
                    <td class="align-middle px-3 h6">
                        Rs {{item['price']}}
                    </td>
                    <td class="align-middle px-3 h5 font-weight-bold">
                        {{item['quantity']}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" sticky col-lg-4 shadow-sm my-2 my-md-0 custom-stick-top bg-light mb-3" id="order-summary">
        <div class="w-100 my-2">
            <div class="header">
                <h4 class="h4">Order Summary</h4>
            </div>
            <div class="my-3">
                <h5 class="h5 row mx-0 my-1">
                    <span class="col-8 p-0">Total Quantity </span>
                    <span class="col-4 p-0">: {{total.quantity}}
                    </span>
                </h5>
                <h5 class="h5 row m-0">
                    <span class="col-8 p-0">
                        Total Amount
                    </span>
                    <span class="col-4 p-0">: Rs {{total.price}}
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>