/* You can add global styles to this file, and also import other style files */
/* applicable to multiple pages */

@import url("https://static.increff.com/fonts/increff-fonts/increff-client-icons/1.0.0/css/style.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.container-custom {
    padding: 68px 5% 0 5%;
    color: #111111;
    min-height: calc(100vh - 65px);
}

.btn {
    z-index: 1;
}

img {
    aspect-ratio: 1;
}

.material-icons-outlined {
    font-size: unset;
}

.icon-large {
    font-size: 24px;
}

.icon-normal {
    font-size: 18px;
    padding: 0;
}

.star-color {
    color: #cccc00;
}

.custom-stick-top {
    height: fit-content;

    position: sticky;
    top: 70px;
    z-index: 2;
}

#filter-price .ngx-slider .ngx-slider-pointer {
    background-color: 0db9f0;
    width: 16px;
    height: 16px;
    top: -7px;
}

#filter-price .ngx-slider .ngx-slider-pointer:after {
    height: 6px;
    width: 6px;
    top: 5px;
    left: 5px;
}

/*modal*/
.modal {
    z-index: 1055;
}

/*media queries*/

@media (max-width: 576px) {
    .h3 {
        font-size: 18px;
    }

    .h4 {
        font-size: 15px;
    }

    .h5 {
        font-size: 13px;
    }

    .h6,
    footer {
        font-size: 11px;
    }

    .container-custom {
        font-size: 10px;
    }

    .icon-sm {
        font-size: 11 px;
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .h3 {
        font-size: 20px;
    }

    .h4 {
        font-size: 17px;
    }

    .h5 {
        font-size: 15px;
    }

    .h6,
    footer {
        font-size: 13px;
    }

    .container-custom {
        font-size: 12px;
    }

    .icon-sm {
        font-size: 13px;
    }
}

@media (min-width:768px) and (max-width: 992px) {
    .h3 {
        font-size: 22px;
    }

    .h4 {
        font-size: 19px;
    }

    .h5 {
        font-size: 16px;
    }

    .h6,
    footer {
        font-size: 13px;
    }

    .container-custom {
        font-size: 12px;
    }

    .icon-sm {
        font-size: 13px;
    }
}

@media (min-width:992px) {
    .h3 {
        font-size: 24px;
    }

    .h4 {
        font-size: 20px;
    }

    .h5 {
        font-size: 17px;
    }

    .h6,
    footer {
        font-size: 14px;
    }

    .container-custom {
        font-size: 12px;
    }

    .icon-sm {
        font-size: 13px;
    }
}